[Unit]
Description=MinIO
After=network-online.target

[Service]
# Chạy bằng root
User=root
Group=root
EnvironmentFile=/etc/default/minio
ExecStart=/opt/minio/bin/minio server $MINIO_VOLUMES $MINIO_OPTS
Restart=always
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
