# Git
.git
.github
.gitignore
.gitattributes

# Build artifacts & caches
.patch-backup
opencti-source
**/node_modules
**/dist
**/coverage
**/__generated__*

# Documentation & non-essential
docs
client-python
opencti-worker
scripts
.circleci
.devcontainer
.docs
*.md
LICENSE
renovate.json5
generatelicenseconfig.json

# Dev / không cần cho build
opencti-platform/opencti-dev
opencti-platform/opencti-tauri
opencti-platform/Dockerfile*
opencti-platform/.dockerignore

# GraphQL dev configs & tests
opencti-platform/opencti-graphql/config/development.json
opencti-platform/opencti-graphql/config/production.json
opencti-platform/opencti-graphql/config/local.json
opencti-platform/opencti-graphql/logs
opencti-platform/opencti-graphql/tests
opencti-platform/opencti-graphql/coverage

# Frontend tests & e2e
opencti-platform/opencti-front/tests_e2e
opencti-platform/opencti-front/coverage
