[Unit]
Description=Redis In-Memory Data Store
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root

ExecStart=/opt/infra/scripts/run_redis.sh

Restart=always
RestartSec=5
LimitNOFILE=65536

# Ensure log directory exists
ExecStartPre=/bin/mkdir -p /var/log/redis

# Logging (Redis tự ghi log vào /var/log/redis/redis.log qua redis.conf)
StandardOutput=journal
StandardError=journal
SyslogIdentifier=redis

[Install]
WantedBy=multi-user.target
