[Unit]
Description=Run connector-status every hour

[Timer]
OnCalendar=*:00:00
Persistent=true
RandomizedDelaySec=30

[Install]
WantedBy=timers.target
