[Unit]
Description=OpenCTI Connector Status Check (hourly)
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/opt/connector/monitor
ExecStart=/opt/connector/monitor/connector-status

StandardOutput=journal
StandardError=journal
SyslogIdentifier=connector-status

NoNewPrivileges=yes
ProtectSystem=strict
PrivateTmp=yes
