[Unit]
Description=OpenCTI Connector Status Check (hourly)
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/opt/tools
ExecStart=/opt/tools/connector-status
EnvironmentFile=/etc/saids/opencti/.env

StandardOutput=journal
StandardError=journal
SyslogIdentifier=connector-status

NoNewPrivileges=yes
ProtectSystem=strict
PrivateTmp=yes
